
BetterBuy.xcworkspace/xcuserdata/nadaelmasry.xcuserdatad/UserInterfaceState.xcuserstate
BetterBuy/.DS_Store
Pods/Pods.xcodeproj/xcuserdata/mohamedadel.xcuserdatad/xcschemes/Pods-BetterBuy.xcscheme
Pods/Pods.xcodeproj/xcuserdata/mohamedadel.xcuserdatad/xcschemes/Pods-BetterBuy.xcscheme
